@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Oswald:wght@200&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Patrick+Hand&display=swap');

body{
  background-color: #81AE95 ;
}

 /* navbar, navbar items and logo */

#navbar{
    font-family: 'Oswald', sans-serif;
	  background-color: #E3F4D1 !important; 
    box-shadow: 0px 5px 0px 0px #A8D79B;
}

.line{
  background-color: #A8D79B;
  width: 100%;
  padding: 2px;
}

#logo{
font-family: 'Bodoni Moda', serif;
font-style: italic;
font-size: 40px;
color: #185551;
margin-left: 40px;
}

.nav-link{
  font-family: 'Oswald', sans-serif;
  margin-left: 3rem;
  font-size: 1.5rem;
  color: #074f4a;
  transform: all 1s;
  transform-origin: 50% 50%;
}

.nav-link:hover {
  transform: scale(1.2);
  }


.container-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navbar-button{
  width: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
  color: #053d39;
}

/* Navbar */

.box-list {
    display: flex;
    width: 90vw;
    height: auto;
    margin: 0 auto;
  }

  .box-item {
    list-style: none;
    background-color: #F0F0F0;
    padding-top: 1vh;
    padding-bottom: 1%;
    flex: 1;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    font-family: "Oswald", sans-serif;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: 0.5s;
  }

  .box-item:hover{
    transform: scale(1.1);
  }

  .box-pic{
      width: 10vw;
  }

  .go-btn{
      width: 1.4rem;
      transition: 0.2s;
  }

  .go-btn:hover{
    background-color: #afafaf;
  }

#row1{
    margin-top: 0.5rem;
    margin-bottom: 2vh;
}

#row2{
    margin-bottom: 2rem;
}

.rows{
  background-color: #F0F0F0;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8vh;
  margin-top: 3rem;
}

.detail-list {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-top: 0.5vh;
  justify-content: left;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 7vh;
  /* align-items: flex-start; */
}

.detail-item {
  list-style: none;
  /* text-align: center;
  font-family: "Oswald", sans-serif; */
  float: left;
  /* font-size: 13px; */
  margin-right: 5vw;
}

.go-back{
  transform: rotate(-90deg);
  width: 1.4rem;
  margin-top: 2vh;
}

.go-back:hover{
    transition: 0.2s;
    background-color: #afafaf;
  }

.detail-pic{
    width: 20vw;
    float: left;
}

#detail-item2{
    width: 52vw;
}

.detail-h1{
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 22px;
    text-align: right;
    margin-bottom: 4vh;
}

.detail-p{
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 15px;
}

.backtop{
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 12px;
  margin-top: 1%;
}

/* header row */

#header-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
  text-align: center;
}

#big-title{
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #053d39;
}

#subtitle{
  font-size: 1rem;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 0.02rem;
  width: 80vw;
}